
#login_container{
    text-align: center;
}
.login-tab{
    display: inline-block;
    width: 600px;
    margin-left: 14px;
}
.nomem-tab{
    margin-left: 65px;
}

.title-area{
    text-align: left;
    margin: 100px 0.25px;
}
